<h1>Editing Book</h1>
<% if @book.errors.any? %>
	<%= @book.errors.count %> errors prohibited this book from being saved:
        <ul>
        <% @book.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
        </ul>
<% end %>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Body</h4>
    <%= f.text_area :body %>
    <br><%= f.submit 'Update Book' %></br>
    <tr>
    	<td><%= link_to "Show", book_path(@book) %></td>
    	<td><a href="/books">Back</a></td>
    </tr>
<% end %>